

body{
  
  color: white;
  
  
  
  background-color: black;
  
  
}

.alinhar{
  
  display: flex;
  justify-content: space-between;
  padding: 0px;
  
}
img{
  
  border-radius: 50%;
  border: 3px solid green;
  padding: 3px;
  width: 200px;
  height: 200px;
  
  
}
.center{
  
  text-align: center;
}